@use "./base.scss";

// Riduzione globale della dimensione dei font come richiesto
html {
  font-size: 14px !important;
}

// Opzionale: perfezionamento dimensione intestazioni
h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.6rem !important;
}

h3 {
  font-size: 1.3rem !important;
}
